@CHARSET "UTF-8";

body{
	font-family: arial, helvetica;
}

.true{
	background-color: grey;
}

.false{
	background-color: lightgrey;
}
.errorMessage {
   color:red; 
}
.toolbar{
	font-size: 12px;
}

.infoGrid {
	border: 0px;
	width: 90%;
}
.mediumImage {
	height: 100px;
	width: 100px; 
}
