@CHARSET "UTF-8";

body{
	font-family: arial, helvetica;
	font-size: 0.80em;
}

.true{
	background-color: grey;
}

.false{
	background-color: lightgrey;
}
.errorMessage {
   color:red; 
}

.infoGrid {
	border: 1px;
	width: 90%;
}
.mediumImage {
	height: 100px;
	width: 100px; 
}

.tweet{
	font-size: 0.75em;
}

.largeTextArea {
	width: 500;
	height: 300;
}
.toolbar{
	font-size: 0.70em;
}
