@CHARSET "UTF-8";

body{
	font-family: arial, helvetica;
	font-size: 0.80em;
}
link{
	text-decoration: none;
	font-style:oblique; 
}

.infoGrid {
	border: 1px;
	width: 90%;
}

.tweet{
	font-size: 0.75em;
}

.toolbar{
	font-size: 0.75em;
}
